// `.default` namespace for the template `default.html`

@import 'variables', 'mixins/header';

&-head {
    @include header;
}

&-content {
    margin-top: 2rem;
    padding: 0 2rem;
    & > * { 
        max-width: $global-column-width;
        margin-left: auto;
        margin-right: auto;
    }
}