// `.index` namespace for the template `index.html`
@import 'variables';

& {
    display: block;
    margin-top: 4rem;
}

&-post {
    border-top: 1px solid $index-post-hr-color;
    margin-bottom: 2rem;
}