@import 'mixins/button', 'mixins/column', 'mixins/header';

&-head {
    @include header;

    position: relative;

    &-return {
        @include button;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

&-content {
    @include column;
    margin-top: 2em;

    &-tags {
        font-size: 0.9em;
        text-align: right;
        opacity: 0.6;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
        
        &-link {
            margin-left: 1em;
        }
    }
}

&-return {
    font-size: 0.9em;
    display: block;
    margin-top: 4rem;
    text-align: right;
    @include column-internal;
}