@import 'variables';

&-foot {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px $hr-border-color;
    
    &-owner {
        display: block;
        font-weight: bold;
    }
    
    &-credits {
        color: $blockquote-text-color;
    }
}

  