// `.site` namespace for the base template `site.html`

@import 'variables', 'mixins/column';

& {
    background: $site-background;
}

&-foot {
    @include column;

    padding: 0 2rem 2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    
    &-owner {
        border-top: solid 1px $site-foot-hr-color;
        padding-top: 2rem;
        font-style: italic;
    }
}

  