@import 'variables';

&-foot {
    max-width: $column-width;

    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
    border-top: solid 1px $hr-border-color;
    
    &-owner {
        display: block;
        font-weight: bold;
    }
    
    &-credits {
        color: $blockquote-text-color;
    }
}

  