& {
  background-color: #f8f8f8;
  padding: 0.5em 2em;
  border-radius: 1em;
  margin-bottom: 1rem;
}

// This gets nested for some reason?
& & {
  background-color: transparent;
  padding: 0;
  border: 0;
}

// I have no idea what these do
table {
  td { padding: 5px }
  pre { margin: 0 }
}

pre { 
  margin-bottom: 0;
  word-break: normal;
}

.cm, .c1, .cs, .c, .cd, .ge { font-style: italic }
.cp, .cs, .gs, .kc, .kd, .kn, .kp, .kr, .kt, .kv, .k, .nc, .nd, .ne, .nf, .nl, .ow, .o { font-weight: bold }

.err { 
  color: #a61717;
  background-color: #e3d2d2;
}
.gd { background-color: #ffdddd }
.gi { background-color: #ddffdd }

.gd, .ge, .gi, .kc, .kd, .kn, .kp, .kr, .kv, .k, .ow, .o { color: #000 }
.gp, .nn { color: #555555 } 
.go { color: #888888 }
.c, .cd, .cm, .c1 { color: #999988 }
.bp, .cp, .cs, .gh { color: #999999 }
.gu { color: #aaaaaa }
.w { color: #bbbbbb }
.sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s { color: #d14 }
.gr, .gt { color: #aa0000 }
.ne, .nf, .nl { color: #990000 }
.kt, .nc { color: #445588 }
.mb, .mf, .mh, .mi, .mo, .mx, .m, .il { color: #009999 }
.na, .no, .vc, .vg, .vi, .nv { color: #008080 }
.nd { color: #3c5d5d }
.nb { color: #0086B3 }
.nt { color: #000080 }
.sr { color: #009926 }
.ss { color: #990073 }
.ni { color: #800080 }