// Color palette used through variables module

$palette-background: #fee;
$palette-background-darkened: #eee;
$palette-foreground-lightened: #dcd;
$palette-foreground: #455;
$palette-foreground-darkened: #122;
$palette-clickable: #969;
$palette-highlight-primary: #b46;
$palette-highlight-secondary: #798;

$palette-inverted-foreground: $palette-background;
$palette-inverted-background: $palette-foreground-darkened;
